.header{

    padding: 120px 0px 50px 0px;
}
.header h1{
    color: white;
    text-align: center;
    padding: 25px 0px 20px 0px;
    font-size: 64px;
    font-weight: 700;
}
.divider{
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
}


.divider-custom-line{
    width: 100%;
    max-width: 7rem;
    /* color: white; */
    height: 0.2rem;
    background-color: white;
    border-radius: 1rem;
}
.header-subheading{
    padding: 20px 0px 20px 0px;
}

.header-subheading p{
    text-align: center;
    color: white;
    font-size: 25px;
}
.section-portfolio{
     padding: 80px 0px 75px 0px;

}
.section-portfolio h2{
    padding: 0px 0px 15px 0px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #2c3e50;
}
.divider-portfolio{
    justify-content: center;
    align-items: center;
    padding: 15px 0px 40px 0px;
}


.divider-portfolio-line{
    width: 100%;
    max-width: 7rem;
    /* color: white; */
    height: 0.2rem;
    background-color: rgb(46, 46, 49);
    border-radius: 1rem;
}
.section-aboutus{
    padding: 60px 0px 55px 0px;
    background-color: #1abc9c;
}
.section-aboutus h2{
    padding: 0px 0px 15px 0px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color:white;
}
.divider-aboutus{
    justify-content: center;
    align-items: center;
    padding: 15px 0px 40px 0px;
}
.divider-aboutus-line{
    width: 100%;
    max-width: 7rem;
    /* color: white; */
    height: 0.2rem;
    background-color: white;
    border-radius: 1rem;
}
.content-aboutus{
    justify-content: center; 
}
.left-paragraph {
    width: 100%;
    max-width: 500px;
    padding: 0px 20px 0px 20px;
}
.left-paragraph p {
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.right-paragraph{
    width: 100%;
    max-width: 500px;
    padding: 0px 20px 0px 20px;
}
.right-paragraph p{
    color: white;
    font-size: 18px;
    font-weight: 400;

}
.section-contactus{
    padding: 60px 0px 55px 0px;
}  
.section-contactus h2{
    padding: 0px 0px 15px 0px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color:#2c3e50;
}
.divider-contactus{
    justify-content: center;
    align-items: center;
    padding: 15px 0px 40px 0px;
}
.divider-contactus-line{
    width: 100%;
    max-width: 7rem;
    /* color: white; */
    height: 0.2rem;
    background-color:#2c3e50;
    border-radius: 1rem;
}
.footer{
    background-color: #2c3e50;
    padding: 80px 0px 80px 0px;
}
.copyright{
    background-color: rgb(26 37 47);
    
}




